:root{
    --theme-background: #ffffff;
    --theme-background-dark: #efefef;
    --theme-lineback: #efefef;
    --theme-highligh: rgb(255, 230, 135);
    --default-border-radius: 5px;
    --default-border-width: 1px;
    --default-border-color: #a0a0a0;
    --separator-size: 2px;
    --header-hight: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    margin-top: calc(var(--header-hight)*1.2);
}
.header{
    padding: 5px;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--theme-background);
    border-bottom: solid;
    border-bottom-width: var(--default-border-width);
    border-bottom-color: var(--default-border-color);
    height: var(--header-hight);
}
.holder{
    display: inline-block;
    background-color: var(--theme-background);
    padding: 5px;
}
.separator{
    border-radius: var(--default-border-radius);
    border-left: var(--separator-size) solid;
    width: var(--separator-size);
    height: 100%;
    display: inline-block;
    padding-top: auto;
    padding-bottom: auto;
}
.sidemenu{
    /* padding: 10px; */
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: block;
    background-color: var(--theme-background);
    z-index: 2;
    position: fixed;
    width: 0px;
    height: 100%;
}
.overlay{
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: .5s;
    visibility: hidden;
}
.brick{
    display: block;
    border: solid;
    border-width: var(--default-border-width);
    border-color: var(--default-border-color);
    border-radius: 10px;
    /* background-color: rgba(0, 0, 0, 0.15); */
    padding: 4px;
    margin: 5px;
}
.brick::content{
    float: right;
}
.keyimbox{
    display: inline-block;
    border-width: var(--default-border-width);
    border-color: var(--default-border-color);
    border-radius: 10px;
    margin: 5px;
    background-color: rgba(220,220,220,1);
    padding: 7px;
    width: fit-content;
    border: none;
    border-bottom: solid;
}